.authors {
    #author1 {
        font-weight: bold;
    }
    #author2 {
        font-weight: bold;
    }
    #author3 {
        font-weight: bold;
    }
    #author4 {
        font-weight: bold;
    }
    #author5 {
        font-weight: bold;
    }
}