.tertiary {
    //background-color: violet;
    padding-bottom: 1.5rem;
    h2 {
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }

    article {
        margin-top: 1rem;
        margin-bottom: 1rem;
        h3 {
            margin-top: 1rem;
        }
    }
}